.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/

### Visual Studio Code ###
.vscode

.DS_store
**/target/
bin/

### Visual Studio Code ###
.vscode/